
.task-container{
    width: 250px;
    max-width: 100%;
    /* margin: 0 25px 25px 0; */
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    
  }
  
  .task-list{
    /* border: solid 1px #ccc; */
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
      max-height: 140px;
      background: white;
      /* border-radius: 4px; */
      overflow: hidden;
      display: block;
  }
  
  .task-box{
    /* padding: 20px 10px; */
      /* border-bottom: solid 1px #ccc; */
      
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
      /* background-color: rgba(102, 14, 105, 0.425); */
      min-height: 35px;
      max-height: 35px;
      cursor: default;
      margin-left: 5px;
  }
  
  
  
  
  
  
  /* opisy */
  .example-container {
      width: 250px;
      max-width: 100%;
      /* margin: 0 25px 25px 0; */
      display: inline-block;
      vertical-align: top;
      background-color: #fff;
    }
    
    .example-list {
      /* border: solid 1px rgb(245, 129, 51); */
      border-right: solid 1px #ccc;
      border-bottom: solid 1px #ccc;
      min-height: 140px;
      background: white;
      /* border-radius: 4px; */
      overflow: hidden;
      display: block;
      
    }
    
    .example-box {
      padding: 20px 10px;
      border-bottom: solid 1px #ccc;
      
      color: rgba(0, 0, 0, 0.87);
      /* display: flex;
      flex-direction: row; */
      align-items: center;
      /* justify-content: space-between; */
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
      background-color: rgba(102, 14, 105, 0.103);
      min-height: 140px;
      max-height: 140px;
    }
    
    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    
    .cdk-drag-placeholder {
      opacity: 0;
    }
    
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    
    .example-box:last-child {
      border: none;
    }
    
    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  
    .c1{
      background-color: rgba(175, 25, 180, 0.425);
    }
    
    .c2{
      background-color: #f8f9fa;
      
    }
  
    .c2-button{
      background-color: #f8f9fa;
      
    }
  
    .task-title{
      font-weight: 500;
    }
  
    .more-button{
      /* margin-top: 10px;
      margin-bottom: 10px; */
      background-color: #A184EB;
      border-color: #A184EB;
      margin-left: 0;
      padding-top: 5px;
      padding-left: 10px;
      padding-bottom: 5px;
      padding-right: 10px;
      cursor: pointer;
      /* padding: 0; */
      color: white;
      /* border-radius: 3px; */
      
    }