.pallete-bg-1{
    /* background: #514fe7; */
    /* background: #08415C; */
    /* background: #57B017; */
    background: #632734;

}
.pallete-bg-2{
    /* background: #009eb3; */
    /* background: #CC2936; */
    /* background: #8A5307; */
    background: #9121B0;
}
.pallete-bg-3{
    /* background: #645E9D; */
    /* background: #6B818C; */
    /* background: #0D3D80; */
    background: #5DC441;


}
.pallete-bg-4{
    /* background: #8000ff; */
    /* background: #AEA092; */
    /* background: #7E02D6; */
    background: #D64967;

}
.pallete-bg-5{
    /* background: #645E9D; */
    /* background: #EEB081; */
    /* background: #8C0CE8; */
    background: #4A3A4F;

}
.pallete-bg-6{
    /* background: #8000ff; */
    /* background: #BF9CAC; */
    /* background: #7A39A8; */
    background: #517347;

}